<h1>Edit Article</h1>

<%= form_with scope: :article, url: article_path, method: :put ,local: true do |form| %>
     <p>
        <%= form.label :title %>  <br>
        <%= form.text_field :title %>
    </p>
    <p>
        <%= form.label :content %>  <br>
        <%= form.text_area :content %>
    </p>
    <p>
        <%= form.submit "Save Edit" %>
    </p>
<% end %>

<% link_to 'Back', articles_path%>